@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

/* @media (min-width: "1024px") {
  .insight-height-1 {
    height: 30vw !important;
  }
  .insight-height-2 {
    height: 20vw;
  }
  .insight-height-3 {
    height: 24vw;
  }
} */

@layer base {
  /* Michroma */
  @font-face {
    font-family: "michroma-regular";
    src: url("./fonts/Michroma/Michroma-Regular.ttf") format("truetype");
  }
  /* Playfair-Display */
  @font-face {
    font-family: "playfair-black";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Black.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-black-italic";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-bold";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Bold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-bold-italic";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-extrabold";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-extrabold-italic";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-italic";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-medium";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Medium.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-medium-italic";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-MediumItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-regular";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Regular.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-semibold";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-semibold-italic";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf")
      format("truetype");
  }
  /* Poppins */
  @font-face {
    font-family: "poppins-black";
    src: url("./fonts/Poppins/Poppins-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-black-italic";
    src: url("./fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-bold";
    src: url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-bold-italic";
    src: url("./fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-extrabold";
    src: url("./fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-extrabold-italic";
    src: url("./fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-extralight";
    src: url("./fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-extralight-italic";
    src: url("./fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-italic";
    src: url("./fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-light";
    src: url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-light-italic";
    src: url("./fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-medium";
    src: url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-medium-italic";
    src: url("./fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-regular";
    src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-semibold";
    src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-semibold-italic";
    src: url("./fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-thin";
    src: url("./fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppins-thin-italic";
    src: url("./fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  }
}

@theme {
  --font-michroma-regular: "michroma-regular", "sans-serif";
  --font-playfair-black: "playfair-black", "sans-serif";
  --font-playfair-black-italic: "playfair-black-italic", "sans-serif";
  --font-playfair-bold: "playfair-bold", "sans-serif";
  --font-playfair-bold-italic: "playfair-bold-italic", "sans-serif";
  --font-playfair-extrabold: "playfair-extrabold", "sans-serif";
  --font-playfair-extrabold-italic: "playfair-extrabold-italic", "sans-serif";
  --font-playfair-italic: "playfair-italic", "sans-serif";
  --font-playfair-medium: "playfair-medium", "sans-serif";
  --font-playfair-regular: "playfair-regular", "sans-serif";
  --font-playfair-semibold: "playfair-semibold", "sans-serif";
  --font-playfair-semibold-italic: "playfair-semibold-italic", "sans-serif";
  --font-poppins-black: "poppins-black", "sans-serif";
  --font-poppins-black-italic: "poppins-black-italic", "sans-serif";
  --font-poppins-bold: "poppins-bold", "sans-serif";
  --font-poppins-bold-italic: "poppins-bold-italic", "sans-serif";
  --font-poppins-extrabold: "poppins-extrabold", "sans-serif";
  --font-poppins-extrabold-italic: "poppins-extrabold-italic", "sans-serif";
  --font-poppins-extralight: "poppins-extralight", "sans-serif";
  --font-poppins-extralight-italic: "poppins-extralight-italic", "sans-serif";
  --font-poppins-italic: "poppins-italic", "sans-serif";
  --font-poppins-light: "poppins-light", "sans-serif";
  --font-poppins-light-italic: "poppins-light-italic", "sans-serif";
  --font-poppins-medium: "poppins-medium", "sans-serif";
  --font-poppins-medium-italic: "poppins-medium-italic", "sans-serif";
  --font-poppins-regular: "poppins-regular", "sans-serif";
  --font-poppins-semibold: "poppins-semibold", "sans-serif";
  --font-poppins-thin: "poppins-thin", "sans-serif";
  --font-poppins-thin-italic: "poppins-thin-italic", "sans-serif";
}

body,
html {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
